.Rproj.user
.Rhistory
.RData
.Ruserdata
.hugo_build.lock
.Rprofile
*.log
VideoDecodeStats/LOG
VideoDecodeStats/LOG.old
VideoDecodeStats/000003.log
VideoDecodeStats/LOG
.DS_Store
Thumbs.db
/public/
/resources/