
// set your Dark colors here
$siteBgColorDark: #1D1D2C;
  $sidebarBgColorDark: #2b3736;
  $textColorDark: #D4C2C9;
  $sidebarTextColorDark: #361F27;
  
  $headlineColorDark: #ff3c38;
  $headingColorDark: #ff3c38;
  
  $bodyLinkColorDark: #3eb489;
  $navLinkColorDark: #3eb489;
  $navBgColorDark: #3eb489;
  $sidebarLinkColorDark: #441C36;
  
  $footerTextColorDark: #D4C2C9;
  
  $buttonTextColorDark: #441C36;
  $buttonHoverTextColorDark: #521945;
  $buttonBgColorDark: #2AA198;
  $buttonHoverBgColorDark: #441C36;
  $borderColorDark: #912F56;
  
  


// set your custom colors here
$siteBgColorCustom: #f6f0f0; 
$sidebarBgColorCustom: #3a3335; 
$textColorCustom: #3A0F01;
$sidebarTextColorCustom: #220D07;

$headlineColorCustom: #ff3c38; 
$headingColorCustom: #ff3c38; 

$bodyLinkColorCustom: #008069;
$navLinkColorCustom: #008069;
$sidebarLinkColorCustom: #741d06;

$footerTextColorCustom: #747270;

$buttonTextColorCustom: #FAF9F0;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #CE3D15;
$buttonHoverBgColorCustom: #BC4524;
$borderColorCustom: #FED0C3;



